# Misc.
node_modules/
tsconfig.tsbuildinfo
.DS_Store

# Use bun.lock instead of package-lock.json.
package-lock.json


# Private files.
packages/scripts/src/resources/

# Build output.
dist/
distIgnore/

# Environment variables.
.env
.env.*

# Firebase.
firebaseServiceAccount.json
ui-debug.log
firebase-debug.log
functions-debug.log
database-debug.log
firestore-debug.log

# Test coverage.
packages/*/coverage/**
