# Misc.
node_modules/
tsconfig.tsbuildinfo
.DS_Store

# Private files.
packages/scripts/src/resources/

# Build output.
dist/

# Environment variables.
.env
.env.*

# Firebase debug log
ui-debug.log
firebase-debug.log
functions-debug.log
database-debug.log
firestore-debug.log
