
dist/
packages/scripts/src/resources/
node_modules/
tsconfig.tsbuildinfo
.DS_Store

# Environment variables.
.env
.env.local
.env.conductor-local
.env.staging
.env.production

# Firebase debug log
ui-debug.log
firebase-debug.log
functions-debug.log
database-debug.log
firestore-debug.log
