{
  "arrowParens": "always",
  "bracketSpacing": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@shared)(/services/.*)$",
    "",
    "^(@shared)(/lib/.*)$",
    "",
    "^(@shared)(/parsers/.*)$",
    "",
    "^(@shared)(/types/.*)$",
    "",
    "^(@shared)(/icons/.*)$",
    "",
    "^(@shared)(/.*)$",
    "",
    "^(@sharedClient)(/stores/.*)$",
    "",
    "^(@sharedClient)(/services/.*)$",
    "",
    "^(@sharedClient)(/lib/.*)$",
    "",
    "^(@sharedClient)(/hooks/.*)$",
    "",
    "^(@sharedClient)(/.*)$",
    "",
    "^(@sharedServer)(/services/.*)$",
    "",
    "^(@sharedServer)(/lib/.*)$",
    "",
    "^(@sharedServer)(/.*)$",
    "",
    "^(@src)(/components/.*)$",
    "",
    "^(@src)(/lib/.*)$",
    "",
    "^(@src)(/stores/.*)$",
    "",
    "^(@src)(/types/.*)$",
    "",
    "^(@src)(/resources/.*)$",
    "",
    "^(@src)(/.*)$",
    "",
    "^[.]"
  ],
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ]
}
