# CONDUCTOR_URL is the URL of the Conductor app.
VITE_CONDUCTOR_URL=http://localhost:5173/

# Required Firebase config.
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# This is optional as it is only used for analytics, which are not captured for local development.
VITE_FIREBASE_MEASUREMENT_ID=

# Runs local development against Firebase emulators when true.
VITE_FIREBASE_USE_EMULATOR=false
