rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    ////////////////////////
    //  Helper functions  //
    ////////////////////////
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(accountId) {
      return isAuthenticated() && request.auth.uid == accountId;
    }

    /////////////
    //  Rules  //
    /////////////
    // Allow accounts to manage their own files.
    match /feedItems/{accountId}/{allPaths=**} {
      allow read, write: if isOwner(accountId);
    }

    // Disallow all other operations.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
