rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    ////////////////////////
    //  Helper functions  //
    ////////////////////////
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner() {
      return isAuthenticated() && request.auth.uid == ;
    }

    /////////////
    //  Rules  //
    /////////////
    // Allow accounts to manage their own files.
    match /feedItems/{}/{allPaths=**} {
      allow read, write: if isOwner();
    }

    // Disallow all other operations.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
